<!--Mục 2-->
<div class="subsidebar">
    <div class="bar_title">
        Hỗ trợ trực tuyến
    </div>
    <div class="subsideframe">
        <br />
        <a href="https://www.facebook.com/diepnguyenhoang.anh" target="_blank"><img src="~/images/logo_facebook.png" /><br /></a>
        <br />
        <a href="https://secure.skype.com/portal/overview" target="_blank"><img src="~/images/Skype.png" /><br /></a>
        <p><strong>Support:</strong> <b>Mr.Diệp Anh</b></p>
        <p><strong>Hotline:</strong> <b>01234.456.789</b></p>
    </div>
</div>
