<div class="subsidebar">
    <!--Mục 3-->
    <div class="bar_title">
        Thống kê
    </div>
    <div class="subsideframe">
        <p>Số người online: <b>@Context.Application["luotonline"]</b></p>
        <p>Số người truy cập: <b>@Context.Application["luottruycap"]</b></p>
    </div>

</div>
